@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkGreen: #132a13;
  --dimGreen: #31572c;
  --midGreen: #4f772d;
  --lightGreen: #90a955;
  --beige: #ecf39e;
  --lightBeige:#fafed3;
}

html::-webkit-scrollbar {
  display: none;
}

.landing-page {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
  
  width: 100%;

  background-color: #184e77;
}